.app-header {
  width: 100%;
  height: 100%;

  border-bottom: 1px solid lightgray;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 2em;

  box-sizing: border-box;
  > .title {
    font-size: 1.7rem;
    font-weight: bold;
  }

  > .edit-button {
    font-size: 0.9rem;
    align-self: baseline;
    margin: 0 0.5em;

    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
}
