.background {
  width: 100wh;
  height: 100vh;
}

.page {
  background: white;
  display: block;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  text-align: left;

  .short-border {
    width: 40px;
    height: 3px;
    background: black;
    margin: 5px 0;
  }

  .divider {
    width: 100%;
    height: 1px;
    background: gray;
    margin: 1em 0;
  }
}

.A4 {
  width: 210mm;
  min-height: 297mm;
  padding: 15mm;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
