.bullet-list {
  flex: 2;

  > .title {
    font-size: 1rem;
    font-weight: bold;
  }

  > .list {
    > ul {
      margin: 10px 0;
      > li {
        text-align: justify;
        text-justify: inner-word;
        margin: 8px 0;
      }
    }
  }
}
