.header {
  flex: initial;
  height: auto;

  > .name-role-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    > .name {
      font-size: 1.8rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    > .role {
      font-size: 0.9rem;
      margin-top: 2mm;
      margin-left: 1em;
    }
  }

  > .personal-info {
    margin: 1.5em 0;
    list-style-type: none;

    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    padding: 0.7em 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > .info-item {
      display: flex;
      flex-direction: row;
      align-items: center;

      margin-right: 0.7em;
      margin-bottom: 0.5em;

      > img {
        width: 15px;
      }

      > span {
        display: inline-block;
        margin: 0 3px;
        font-size: 0.9rem;
      }
    }
  }
}
