.section {
  flex: initial;

  > .title {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
  }

  > .content {
    text-align: justify;
    text-justify: inner-word;
    margin: 1em 0;

    font-size: 0.9rem;
    > .section-container {
      width: 100%;
      height: auto;

      > .horizontal-section {
        display: flex;
      }
    }
  }
}
