.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  position: relative;

  > .app-header-wrapper {
    width: 100%;
    flex: initial;
    height: 4em;

    > .edit-input-wrapper {
      width: 100%;
      height: auto;
      min-height: 10em;

      position: fixed;
      z-index: 100;

      background: white;
      border-left: 1px solid gray;
      border-right: 1px solid gray;
      border-bottom: 1px solid gray;

      padding: 1em;

      > .button-container {
        margin-top: 1em;

        > * {
          margin-right: 0.5em;
        }
      }
    }
  }

  > .body {
    flex: 1;
    text-align: center;
    width: 100%;

    display: flex;
    flex-direction: row;

    overflow: hidden;
    > .selection {
      flex: initial;
      width: 30em;
      min-width: 30em;

      height: 100%;

      overflow-y: auto;
      overflow-x: hidden;

      padding: 1em;

      box-sizing: border-box;

      border-right: 1px solid lightgray;

      > .page-wrapper {
        &:hover {
          > .page {
            transition: all 0.2s ease-in-out;
            transform: scale(1.08);
            cursor: pointer;

            border: 1px solid gray;
          }
        }

        &.selected {
          > .page {
            border: 1px solid gray;
          }
        }

        .page {
          zoom: 0.4;

          margin: 5em;

          user-select: none;
        }
      }
    }

    > .preview {
      flex: 1;
      height: 100%;
      min-width: 38em;

      display: flex;
      flex-direction: column;
      justify-content: center;

      overflow: hidden;

      position: relative;

      > .page {
        zoom: 0.5;
        user-select: none;
      }

      > .preview-menu {
        width: 5em;
        height: 1.4em;

        position: absolute;
        top: 50%;
        right: 0;

        > .icon-wrapper {
          width: 100%;
          height: 100%;

          box-sizing: border-box;

          position: relative;

          > img.preview-button {
            width: 100%;
            height: 100%;
          }

          > a {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
  }
}
