* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.print-preview-wrapper {
  margin: 3em;

  position: relative;

  > .print-preview-menu {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    > * {
      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }

    > .close-button {
      width: auto;
      height: 100%;
      font-weight: bold;
    }
  }
}

@page {
  size: A4;
  margin: 1cm;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }

  .print-preview-wrapper {
    margin: 0 !important;
  }

  .print-preview-menu {
    display: none !important;
  }

  .A4 {
    border: initial !important;
    border-radius: initial !important;
    width: initial !important;
    min-height: initial !important;
    background: initial !important;
    page-break-after: always !important;
    box-shadow: initial !important;
  }

  * {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
  }
}
